<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServSingUp</servlet-name>
        <servlet-class>Servlets.ServSingUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExecuteUser</servlet-name>
        <servlet-class>Servlets.ServExecuteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExecuteProduct</servlet-name>
        <servlet-class>Servlets.ServExecuteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServSupplier</servlet-name>
        <servlet-class>Servlets.ServSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExecuteGRN</servlet-name>
        <servlet-class>Servlets.ServExecuteGRN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExecuteStock</servlet-name>
        <servlet-class>Servlets.ServExecuteStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServExecuteInvoice</servlet-name>
        <servlet-class>Servlets.ServExecuteInvoice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServSingUp</servlet-name>
        <url-pattern>/ServSingUp</url-pattern>
    </servlet-mapping>
    <!-- Jsp mapping -->
    <servlet>
        <servlet-name>recyclerSupplier</servlet-name>
        <jsp-file>/recyclerSupplier.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerSupplier</servlet-name>
        <url-pattern>/recyclerSupplier</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recyclerAdminOrder</servlet-name>
        <jsp-file>/recyclerAdminOrder.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerAdminOrder</servlet-name>
        <url-pattern>/recyclerAdminOrder</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>recyclermyOrders</servlet-name>
        <jsp-file>/recyclermyOrders.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclermyOrders</servlet-name>
        <url-pattern>/recyclermyOrders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignInOrSignUp</servlet-name>
        <jsp-file>/SignInOrSignUp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInOrSignUp</servlet-name>
        <url-pattern>/SignInOrSignUp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recyclerMyCartSummery</servlet-name>
        <jsp-file>/recyclerMyCartSummery.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerMyCartSummery</servlet-name>
        <url-pattern>/recyclerMyCartSummery</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recyclerMyCartDetailed</servlet-name>
        <jsp-file>/recyclerMyCartDetailed.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerMyCartDetailed</servlet-name>
        <url-pattern>/recyclerMyCartDetailed</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recyclerAddress</servlet-name>
        <jsp-file>/recyclerAddress.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerAddress</servlet-name>
        <url-pattern>/recyclerAddress</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>recyclerGRNCartSession</servlet-name>
        <jsp-file>/recyclerGRNCartSession.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerGRNCartSession</servlet-name>
        <url-pattern>/recyclerGRNCartSession</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recyclerUserAccountsAdmin</servlet-name>
        <jsp-file>/recyclerUserAccountsAdmin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerUserAccountsAdmin</servlet-name>
        <url-pattern>/recyclerUserAccountsAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>singleProduct</servlet-name>
        <jsp-file>/singleProduct.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>singleProduct</servlet-name>
        <url-pattern>/singleProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recyclerMyCartDetailedView</servlet-name>
        <jsp-file>/recyclerMyCartDetailedView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerMyCartDetailedView</servlet-name>
        <url-pattern>/recyclerMyCartDetailedView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recyclerProductContainerClient</servlet-name>
        <jsp-file>/recyclerProductContainerClient.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerProductContainerClient</servlet-name>
        <url-pattern>/recyclerProductContainerClient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin-detailedGrnReport</servlet-name>
        <jsp-file>/admin-detailedGrnReport.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin-detailedGrnReport</servlet-name>
        <url-pattern>/admin-detailedGrnReport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recyclerProduct</servlet-name>
        <jsp-file>/recyclerProduct.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerProduct</servlet-name>
        <url-pattern>/recyclerProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recyclerSupplierForGRNCart</servlet-name>
        <jsp-file>/recyclerSupplierForGRNCart.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerSupplierForGRNCart</servlet-name>
        <url-pattern>/recyclerSupplierForGRNCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recyclerProductForGRNCart</servlet-name>
        <jsp-file>/recyclerProductForGRNCart.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerProductForGRNCart</servlet-name>
        <url-pattern>/recyclerProductForGRNCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recyclerPaymentDetails</servlet-name>
        <jsp-file>/recyclerPaymentDetails.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerPaymentDetails</servlet-name>
        <url-pattern>/recyclerPaymentDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recyclerGRN</servlet-name>
        <jsp-file>/recyclerGRN.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerGRN</servlet-name>
        <url-pattern>/recyclerGRN</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recyclerStock</servlet-name>
        <jsp-file>/recyclerStock.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerStock</servlet-name>
        <url-pattern>/recyclerStock</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>recyclerAdminCartSession</servlet-name>
        <jsp-file>/recyclerAdminCartSession.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclerAdminCartSession</servlet-name>
        <url-pattern>/recyclerAdminCartSession</url-pattern>
    </servlet-mapping>
    <error-page>
        <!-- Missing login -->
        <error-code>401</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <!-- Uncaught exception -->
        <error-code>500</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>503</error-code>
        <location>/404.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>ServExecuteUser</servlet-name>
        <url-pattern>/ServExecuteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExecuteProduct</servlet-name>
        <url-pattern>/ServExecuteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServSupplier</servlet-name>
        <url-pattern>/ServSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExecuteGRN</servlet-name>
        <url-pattern>/ServExecuteGRN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExecuteStock</servlet-name>
        <url-pattern>/ServExecuteStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServExecuteInvoice</servlet-name>
        <url-pattern>/ServExecuteInvoice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
