body {
    background:#4e657a;
    color: #fff;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    padding-left: 240px;
}
main {
    position: relative;
    height: 100vh;
    font-size: 0.4em;
    display: block;
    color: #fff;
}
select,option,button,input[type="button"]{
    font-family: 'Inconsolata', monospace;

}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.nav-item {
    text-align: center;
}
a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.nav-link {
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 90%;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
thead{
    font-family: 'Inconsolata', monospace;
    border-radius: 0;
    height: 10px;
    font-size: 2rem;
}
td{
    margin-left: 10px;
    padding: 10px;
}
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="date"]{
    font-family: 'Inconsolata', monospace;
    padding: 19px 18px;
    border-radius: 0;
    height: 10px;
    font-size: 1rem;
    background-color: #435c70;
    border-color: #fff;
    color: #fff;
    border: 0;
    border-radius: 0;
}
textArea{
    text-indent: 0px;
    text-shadow: none;
    font-family: 'Inconsolata', monospace;
    padding: 19px 18px;
    border-radius: 0;
    height: 10px;
    font-size: 1rem;
    border-color: #fff;
    color: #fff;
    height: auto;
    background-color: #435c70;
    border: 0;
    border-radius: 0;
    overflow: auto;
    resize: vertical;
    ebkit-writing-mode: horizontal-tb !important;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    text-align: start;
    -webkit-appearance: textarea;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;

}
.file-upload-button{
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 11px 20px;
    border: none;
    margin-left: -1px;
    background-color: #962d22;
    float: left;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
input[type="button"]{
    border-radius: 0;
    height: 50px;
    width: 200px;
    font-size: 1.5rem;
    overflow: visible;
    width: 100%;
    border-radius: 0;
    padding: 13px 28px;
    transition: all 0.2s ease;
    max-width: 100%;
    font-weight: 300;
    background-color: #f5a623;
    border: 2px solid #f5a623;
    color: #fff;
    border: 0;
    border-radius: 0;
    transition: all 0.2s ease;
    text-align: center;
}
table{
    padding: 5px;
    background: #435c70;
    color: #fff;
    font-size: 0.4em;
}
select{
    text-align: center;
    width: 55%;
    height: 50px;
    color: #fff;
    font-size: 1rem;
    border: 0px;
    background-color: #435c70;

}
label{
    font-size: 1rem;
    color: #fff;
}
main .helper span {
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.4em;
    display: block;
}
th{
    font-size: 1rem;
}
.menu {
    background: #2C3040;
    height: 100vh;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;
}
.menu .avatar {
    background: rgba(0, 0, 0, 0.1);
    padding: 2em 0.5em;
    text-align: center;
}
.menu .avatar img {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #ffea92;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}
.menu .avatar h2 {
    font-weight: normal;
    margin-bottom: 0;
}
.menu ul {
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
}
.menu ul li {
    padding: 0.5em 2em 0.5em 3em;
    font-size: 0.95em;
    font-weight: regular;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
}
input[type="button"]:hover{
    background-color: #fff;
    color: #2C3040;
    border-color: #435c70;
    border: #f5a623;
    transition: all 0.2s ease;
}
.menu ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.menu ul li:focus {
    outline: none;
}
@media screen and (max-width: 900px) and (min-width: 400px) {
    body {
        padding-left: 90px;
    }
    .menu {
        width: 90px;
    }
    .menu .avatar {
        padding: 0.5em;
        position: relative;
    }
    .menu .avatar img {
        width: 60px;
    }
    .menu .avatar h2 {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 100px;
        margin: 0;
        min-width: 200px;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.4);
        transform: translate3d(-20px, -50%, 0);
        transition: all 0.15s ease-in-out;
    }
    .menu .avatar:hover h2 {
        opacity: 1;
        transform: translate3d(0px, -50%, 0);
    }
    .menu ul li {
        height: 60px;
        background-position: center center;
        background-size: 30px auto;
        position: relative;
    }
    .menu ul li span {
        opacity: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        padding: 0.2em 0.5em;
        border-radius: 4px;
        top: 50%;
        left: 80px;
        transform: translate3d(-15px, -50%, 0);
        transition: all 0.15s ease-in-out;
    }
    .menu ul li span:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: -5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid rgba(0, 0, 0, 0.5);
        transform: translateY(-50%);
    }
    .menu ul li:hover span {
        opacity: 1;
        transform: translate3d(0px, -50%, 0);
    }
}
@media screen and (max-width: 400px) {
    body {
        padding-left: 0;
    }
    .menu {
        width: 230px;
        box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
        transform: translate3d(-230px, 0, 0);
        transition: all 0.3s ease-in-out;
    }
    .menu .smartphone-menu-trigger {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 100%;
        background: #5bc995;
    }
    .menu .smartphone-menu-trigger:before,
    .menu .smartphone-menu-trigger:after {
        content: '';
        width: 50%;
        height: 2px;
        background: #fff;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    .menu .smartphone-menu-trigger:after {
        top: 55%;
        transform: translate3d(-50%, -50%, 0);
    }
    .menu ul li {
        padding: 1em 1em 1em 3em;
        font-size: 1.2em;
    }
    .menu:focus {
        transform: translate3d(0, 0, 0);
        box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
    }
    .menu:focus .smartphone-menu-trigger {
        pointer-events: none;
    }
}